@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a{
  text-decoration: none;
  color: black;
  font-style: italic;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.footer{
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.left-links, .right-links{
  display: flex;
  gap: 15px;
}

.left-links{
  padding-left: 0;
}

.content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}